{% extends 'admin-panel/base-db-admin.html' %}
{% load static %}
{% block main %}
<div class="container table-responsive primary-light">
  <h3 class="py-3 mt-1 text-center shadow">View Accepted Donation Detail</h3>
  
  <!-- Donor Details -->
  <div class="shadow p-2">
    <h4 class="text-center">Donor Details</h4>
    <div class="row p-2 justify-content-center">
      <div class="col-md-3">
          <div class="mb-3">
            {% if donation.donor.userpic %}
                <img class="rounded" src="{{ donation.donor.userpic.url }}" alt="Default Image" width="100%" >
            {% endif %}
          </div>
      </div>
    
      <div class="col-md-4">
        <div class="form-group mt-1">
          <lable>Name</lable>
          <input class="form-control" readonly value="{{ donation.donor.user.first_name }} {{ donation.donor.user.last_name }}">
        </div>
        <div class="form-group mt-1">
          <lable>Contact</lable>
          <input class="form-control" readonly value="{{ donation.donor.contact }}">
        </div>
        <div class="form-group mt-1">
          <lable>Email</lable>
          <input class="form-control" readonly value="{{ donation.donor.user.email }}">
        </div>
      </div>
    </div>
  </div>

  <!-- Donation Details -->
  <div class="shadow mt-3 p-2 mb-5">
    <h4 class="text-center">Donation Details</h4>
    <div class="row p-2 justify-content-center">
      <div class="col-md-6">
        <div class="mb-3">
          <img src="{{donation.donationpic.url}}"  width="100%" />
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group mt-1">
          <lable>Name</lable>
          <input class="form-control" readonly value="{{ donation.donationname }}">
        </div>
        <div class="form-group mt-1">
          <lable>Collection Location</lable>
          <input class="form-control" readonly value="{{ donation.collectionloc }}">
        </div>
        <div class="form-group mt-1">
          <lable>Donation Date</lable>
          <input class="form-control" readonly value="{{ donation.donationdate }}">
        </div>
        <div class="form-group mt-2">
          <lable>Status</lable>
          <input class="text-center 
          {% if donation.status == 'reject' %}bg-danger
          {% elif donation.status == 'pending' %}bg-warning text-dark
          {% elif donation.status == 'Donation Delivered Successfully' %}bg-success
          {% else %}bg-info text-dark
          {% endif %} 
          font-weight-bold text-light rounded-pill p-0 img-wa" 
          readonly value="{{ donation.status }}">        </div>
        <div class="form-group mt-1">
          <lable>Updation Date</lable>
          <input class="form-control" readonly value="{{ donation.updationdate }}">
        </div>
      </div>
    </div>
    {% if donation.status == 'accept'%}
      <form method="post">
      {% csrf_token %}
      
      <div class="align-middle mt-1">
        <lable >Select Donation Distribution Area</lable>
        <div colspan="3">
          <select class="form-control" name="donationareaid" required>
            {% for area in donationarea %}
            <option value="{{area.id}}">{{area.areaname}}</option>
            {% endfor %}
          </select>
        </div>
      </div>

      <div class="align-middle mt-1">
        <lable>Select Volunteer</lable>
        <div colspan="3">
          <select class="form-control" name="volunteerid" required>
            {% for vol in volunteer %}
            <option value="{{vol.id}}">{{vol}}</option>
            {% endfor %}
          </select>
        </div>
      </div>

      <div class="align-middle text-center mt-3">
        <td></td>
        <div colspan="3">
            <input type="submit" class="btn btn-primary px-5" value="Update" />
        </div>
      </div>
    </form>
  {% else %}
    <div class="form-group mt-1">
      <lable>Admin Remark</lable>
      <input class="form-control" readonly value="{{ donation.adminremark }}" style="height:100px">
    </div>
    <div class="form-group mt-1">
      <lable>Donation Area</lable>
      <input class="form-control" readonly value="{{ donation.donationarea.areaname }}">
    </div>
    <div class="form-group mt-1">
      <lable>Volunteer</lable>
      <input class="form-control" readonly value="{{ donation.volunteer.user.first_name }} {{ donation.volunteer.user.last_name }}">
    </div>
    <div class="form-group mt-1">
      <lable>Volunteer Remark</lable>
      <input class="form-control" readonly value="{{ donation.volunteermark|default_if_none:"" }}">
    </div>
    {% endif %}
  

{% endblock main %}