{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Admin Portal</title>
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <meta content="" name="keywords">
        <meta content="" name="description">
    
        <!-- Favicon -->
        <link href="{% static 'img/favicon.ico' %}" rel="icon">
    
        <!-- Google Web Fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Saira:wght@500;600;700&display=swap" rel="stylesheet"> 
        
        <!-- Icon Font Stylesheet -->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">
    
        <!-- Libraries Stylesheet -->
        <link href="{% static 'lib/owlcarousel/assets/owl.carousel.min.css' %}" rel="stylesheet">
        <link href="{% static 'lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css' %}" rel="stylesheet" />
    
        <!-- Customized Bootstrap Stylesheet -->
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" >
    
        <!-- Template Stylesheet -->
        <link rel="stylesheet" href="{% static 'css/style-admin.css' %}">
    </head>

 <!-- Sidebar Start -->
 <div class="sidebar pb-3 bg-dark">
            
    <nav class="navbar  navbar-light">
        <a href="{% url 'index_admin' %}" class="navbar-brand mx-4 mb-3">
           <h1 class="fw-bold text-primary m-0">One<span class="text-white">Mission</span></h1>
        </a>
        <div class="d-flex align-items-center ms-4 mb-4">
            <div class="position-relative rounded-circle border border-5 border-white">
                {% if request.user.admin_set.all.first.userpic %}
                    <img class="rounded-circle" src="{{ user.profile.image.url }}" alt="Default Image" style="width: 60px; height: 60px;">
                {% endif %}
            </div>
            <div class="ms-3 text-white">
                <h6 class="mb-0 text-white">{{request.user.first_name}} {{request.user.last_name}}</h6>
                <span class="fw-bold ">Admin</span>
            </div>
        </div>
        <div class="navbar-nav w-100 text-white">
            <a href="{% url 'index_admin' %}" class="nav-item nav-link {% if request.path == '/admin-panel/index-admin/' %}active{% endif %}"><i class="fa fa-tachometer-alt me-2"></i>Dashboard</a>
            <div class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle {% if request.path in donation_active_paths %}active{% endif %}" data-bs-toggle="dropdown">
                    <i class="fa fa-users me-2"></i>Donation
                </a>
                                <div class="dropdown-menu bg-transparent border-0">
                    <a href="{% url 'pending_donation' %}" class="dropdown-item {% if request.path == '/admin-panel/pending-donation/' %}active{% endif %}" style="color:white;">New Donation Request</a>
                    <a href="{% url 'accepted_donation' %}" class="dropdown-item {% if request.path == '/admin-panel/accepted-donation/' %}active{% endif %}" style="color:white;">Accepted Donation</a>
                    <a href="{% url 'rejected_donation' %}" class="dropdown-item {% if request.path == '/admin-panel/rejected-donation/' %}active{% endif %}" style="color:white;">Rejected Donation</a>
                    <a href="{% url 'volunteerallocated_donation' %}" class="dropdown-item {% if request.path == '/admin-panel/volunteerallocated-donation/' %}active{% endif %}" style="color:white;">Volunteer Allocated Donation</a>
                    <a href="{% url 'donationrec_admin' %}" class="dropdown-item {% if request.path == '/admin-panel/donationrec-admin/' %}active{% endif %}" style="color:white;">Donation Received</a>
                    <a href="{% url 'donationnotrec_admin' %}" class="dropdown-item {% if request.path == '/admin-panel/donationnotrec-admin/' %}active{% endif %}" style="color:white;">Donation Not Received</a>
                    <a href="{% url 'donationdelivered_admin' %}" class="dropdown-item {% if request.path == '/admin-panel/donationdelivered-admin/' %}active{% endif %}" style="color:white;">Donation Delivered</a>
                    <a href="{% url 'all_donations' %}" class="dropdown-item {% if request.path == '/admin-panel/all-donations/' %}active{% endif %}" style="color:white;">All Donation</a>
                </div>
            </div>
            <a href="{% url 'manage_donor' %}" class="nav-item nav-link {% if request.path == '/admin-panel/manage-donor/' %}active{% endif %}"><i class="fa fa-info-circle me-2"></i>Manage Donor</a>
            <div class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle {% if request.path in volunteer_active_paths %}active{% endif %}" data-bs-toggle="dropdown">
                    <i class="fa fa-users me-2"></i>Volunteer
                </a>
                <div class="dropdown-menu bg-transparent border-0">
                    <a href="{% url 'new_volunteer' %}" class="dropdown-item {% if request.path == '/admin-panel/new-volunteer/' %}active{% endif %}" style="color:white;">New Volunteer Request</a>
                    <a href="{% url 'accepted_volunteer' %}" class="dropdown-item {% if request.path == '/admin-panel/accepted-volunteer/' %}active{% endif %}" style="color:white;">Accepted Volunteer</a>
                    <a href="{% url 'rejected_volunteer' %}" class="dropdown-item {% if request.path == '/admin-panel/rejected-volunteer/' %}active{% endif %}" style="color:white;">Rejected Volunteer</a>
                    <a href="{% url 'all_volunteer' %}" class="dropdown-item {% if request.path == '/admin-panel/all-volunteer/' %}active{% endif %}" style="color:white;">All Volunteer</a>
                </div>
            </div>
            <div class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle {% if request.path in area_active_paths %}active{% endif %}" data-bs-toggle="dropdown">
                    <i class="fa fa-users me-2"></i>Area
                </a>                
                <div class="dropdown-menu bg-transparent border-0">
                    <a href="{% url 'add_area' %}" class="dropdown-item {% if request.path == '/admin-panel/add-area/' %}active{% endif %}" style="color:white;">Add donation Area</a>
                    <a href="{% url 'manage_area' %}" class="dropdown-item {% if request.path == '/admin-panel/manage-area/' %}active{% endif %}" style="color:white;">Manage Donation Area</a>
                </div>
            </div>
            <a href="{% url 'changepwd_admin' %}" class="nav-item nav-link {% if request.path == '/admin-panel/changepwd-admin/' %}active{% endif %}"><i class="fa fa-key me-2"></i>Change Password</a>
            <a href="{% url 'logout' %}" class="nav-item nav-link {% if request.path == '/Logout' %}active{% endif %}"><i class="fa fa-sign-out me-2"></i>Logout</a>
            
        </div>
    </nav>
</div>
<!-- Sidebar End -->
<div class="content">
    {% block main %}
    {% endblock main %}
</div>   
{% include 'base-db-footer.html' %}  


    