{% extends 'admin-panel/base-db-admin.html' %}
{% load static %}
        <!-- Home Dashboard -->
        {% block main %}
        <div class="container mt-5 ">
            <div class="row">
                <div class="col-lg-4 col-md-6 mt-2">
                    <div class="card text-center">
                        <div class="card-header bg-dark text-white pt-3">
                            <div>
                                <h3 class="text-white">Total Donor</h3>
                                
                            </div>
                            <div class="row align-items-center pt-2">
                                <div class="col">
                                    <i class="fa fa-list fa-3x"></i>
                                </div>
                                <div class="col">
                                    <h3 class="display-4 text-white">{{totaldonors}}</h3>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer">
                            <h4>
                                <a href="{% url 'manage_donor' %}" class="text-primary"><u>View Details</u></a>
                            </h4>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mt-2">
                    <div class="card text-center ">
                        <div class="card-header bg-dark text-white pt-3" >
                            <div>
                                <h3 class="text-white">Total Volunteer</h3>
                               
                            </div>
                            <div class="row align-items-center pt-2">
                                <div class="col">
                                    <i class="fa fa-snowflake fa-3x"></i>
                                </div>
                                <div class="col">
                                    <h3 class="display-4 text-white">{{totalvolunteers}}</h3>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer">
                            <h4>
                                <a href="{% url 'all_volunteer' %}" class="text-primary"><u>View Details</u></a>
                            </h4>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mt-2">
                    <div class="card text-center ">
                        <div class="card-header bg-dark text-white pt-3">
                            <div>
                                <h3 class="text-white">Total Donation</h3>
                             
                            </div>
                            <div class="row align-items-center pt-2">
                                <div class="col">
                                    <i class="fa fa-arrows fa-3x"></i>
                                </div>
                                <div class="col">
                                    <h3 class="display-4 text-white">{{totaldonations}}</h3>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer">
                            <h4>
                                <a href="{% url 'all_donations' %}" class="text-primary"><u>View Details</u></a>
                            </h4>
                        </div>
                    </div>
                </div>
            </div>
             <div class="row mt-3">
                <div class="col-lg-4 col-md-6 mt-2">
                    <div class="card text-center ">
                        <div class="card-header bg-dark text-white pt-3">
                            <div>
                                <h3 class="text-white">Donation Area</h3>
                               
                            </div>
                            <div class="row align-items-center pt-2">
                                <div class="col">
                                    <i class="fa fa-exchange fa-3x"></i>
                                </div>
                                <div class="col">
                                    <h3 class="display-4 text-white">{{totaldonationareas}}</h3>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer">
                            <h4>
                                <a href="{% url 'manage_area' %}" class="text-primary"><u>View Details</u></a>
                            </h4>
                        </div>
                    </div>
                </div>
           
                <div class="col-lg-4 col-md-6 mt-2">
                    <div class="card text-center">
                        <div class="card-header bg-dark text-white pt-3">
                            <div>
                                <h3 class="text-white">New Donation Request</h3>
                               
                            </div>
                            <div class="row align-items-center pt-2">
                                <div class="col">
                                    <i class="fa-solid fa-bahai fa-3x"></i>
                                </div>
                                <div class="col">
                                    <h3 class="display-4 text-white">{{totalpendingdonations}}</h3>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer">
                            <h4>
                                <a href="{% url 'pending_donation' %}" class="text-primary"><u>View Details</u></a>
                            </h4>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mt-2">
                    <div class="card text-center ">
                        <div class="card-header bg-dark text-white pt-3" >
                            <div>
                                <h3 class="text-white">Accepted Donation</h3>
                               
                            </div>
                            <div class="row align-items-center pt-2">
                                <div class="col">
                                    <i class="fa-solid fa-bars-progress fa-3x"></i>
                                </div>
                                <div class="col">
                                    <h3 class="display-4 text-white">{{totalaccepteddonations}}</h3>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer">
                            <h4>
                                <a href="{% url 'accepted_donation' %}" class="text-primary"><u>View Details</u></a>
                            </h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-lg-4 col-md-6 mt-2">
                    <div class="card text-center ">
                        <div class="card-header bg-dark text-white pt-3">
                            <div>
                                <h3 class="text-white">Donation Delivered</h3>
                               
                            </div>
                            <div class="row align-items-center pt-2">
                                <div class="col">
                                    <i class="fa-solid fa-asterisk fa-3x"></i>
                                </div>
                                <div class="col">
                                    <h3 class="display-4 text-white">{{totaldelivereddonations}}</h3>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer">
                            <h4>
                                <a href="{% url 'donationdelivered_admin' %}" class="text-primary"><u>View Details</u></a>
                            </h4>
                        </div>
                    </div>
                </div>
            </div>
           
        </div>
{% endblock main %}

           
         

