{% extends 'admin-panel/base-db-admin.html' %}
{% load static %}
{% block main %}
<div class="container table-responsive primary-light">
  <h3 class="py-3 mt-1 text-center shadow">View Donation Detail</h3>
 
   <!-- Donor Details -->
   <div class="shadow p-2">
    <h4 class="text-center">Donor Details</h4>
    <div class="row p-2 justify-content-center">
      <div class="col-md-3">
          <div class="mb-3">
            {% if donation.donor.userpic %}
                <img class="rounded" src="{{ donation.donor.userpic.url }}" alt="Default Image" width="100%" >
            {% endif %}
          </div>
      </div>
    
      <div class="col-md-4">
        <div class="form-group mt-1">
          <lable>Name</lable>
          <input class="form-control" readonly value="{{ donation.donor.user.first_name }} {{ donation.donor.user.last_name }}">
        </div>
        <div class="form-group mt-1">
          <lable>Contact</lable>
          <input class="form-control" readonly value="{{ donation.donor.contact }}">
        </div>
        <div class="form-group mt-1">
          <lable>Email</lable>
          <input class="form-control" readonly value="{{ donation.donor.user.email }}">
        </div>
      </div>
    </div>
  </div>

  <!-- Donation Details -->
  <div class="shadow mt-3 p-2 mb-5">
    <h4 class="text-center">Donation Details</h4>
    <div class="row p-2 justify-content-center">
      <div class="col-md-6">
        <div class="mb-3">
          <img src="{{donation.donationpic.url}}"  width="100%" />
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group mt-1">
          <lable>Name</lable>
          <input class="form-control" readonly value="{{ donation.donationname }}">
        </div>
        <div class="form-group mt-1">
          <lable>Collection Location</lable>
          <input class="form-control" readonly value="{{ donation.collectionloc }}">
        </div>
        <div class="form-group mt-1">
          <lable>Donation Date</lable>
          <input class="form-control" readonly value="{{ donation.donationdate }}">
        </div>

        {% if donation.status == 'pending'%}
    <form method="post">
      {% csrf_token %}
      <div class="align-middle ">
        <lable >Status</lable>
        <div colspan="3">
          <select class="form-control" name="status" required>
            <option value="accept">Accept</option>
            <option value="reject">Reject</option>
          </select>
        </div>
      </div>
    
    <div class="form-group mt-1">
      <lable>Admin Remark</lable>
      <textarea class="form-control" name="adminremark" id="exampleFormControlTextarea1" rows="3"></textarea>
    </div>

    <tr class="align-middle text-center">
      <td></td>
      <td colspan="3">
          <input type="submit" value="update" class="btn btn-primary px-5 mt-2"/>
    </td>
  </tr>
</form>
{% else %}

<div class="form-group mt-2">
  <lable>Status</lable>
  <input class="text-center 
  {% if donation.status == 'reject' %}bg-danger
  {% elif donation.status == 'pending' %}bg-warning text-dark
  {% elif donation.status == 'Donation Delivered Successfully' %}bg-success
  {% else %}bg-info text-dark
  {% endif %} 
  font-weight-bold text-light rounded-pill p-0 img-wa" 
  readonly value="{{ donation.status }}">   
  </div>

<div class="form-group mt-1">
  <lable>Updation Date</lable>
  <input class="form-control" readonly value="{{ donation.updationdate }}">
</div>
<div class="form-group mt-1">
  <lable>Admin Remark</lable>
  <input class="form-control" readonly value="{{donation.adminremark}}">
</div>
{% endif %}
</div>


{% endblock main %}