{% extends 'admin-panel/base-db-admin.html' %}
{% load static %}
{% block main %}

<div class="container table-responsive primary-light">
  <h3 class="py-3 mt-1 text-center shadow ">View Donor Detail</h3>
</div>

<div class="shadow p-2">
  <h4 class="text-center">Donor Details</h4>
  <div class="row p-2 justify-content-center">
    <div class="col-md-3">
        <div class="mb-3">
          {% if donor.userpic %}
                <img class="rounded" src="{{ donor.userpic.url }}" alt="Default Image" width="100%" >
            {% endif %}
        </div>
    </div>
  
    <div class="col-md-4">
      <div class="form-group mt-1">
        <lable>Name</lable>
        <div class="form-control">{{donor.user.first_name}} {{donor.user.last_name}}</div>
      </div>
      <div class="form-group mt-1">
        <lable>Contact</lable>
        <div class="form-control">{{donor.contact}}</div>
      </div>
      <div class="form-group mt-1">
        <lable>Email</lable>
        <div class="form-control">{{donor.user.email}}</div>
      </div>
      <div class="mt-4" align="center">
        <td colspan="4" style="font-size:20px;color:red">
            <a href="{% url 'delete_donor' donor.user.id %}" onclick="return confirm('Are You Sure?')" class="form-control">Delete</a>
        </td>
      </div>

    </div>
  </div>
</div>


{% endblock main %}