{% extends 'admin-panel/base-db-admin.html' %}
{% load static %}
{% block main %}
<div class="container table-responsive primary-light">
  <h3 class="py-3 mt-1 text-center shadow">View Volunteer Detail</h3>

  <!-- Donor Details -->
  <div class="shadow p-2">
    <h4 class="text-center">Volunteer Details</h4>
    <div class="row p-2 justify-content-center">
      <div class="col-md-6 text-center">
        
          <div class="mb-3 text-center">
            <h5 class="text-center">Vounteer Profile Picture</h5>
            {% if volunteer.userpic %}
                <img class="rounded" src="{{ volunteer.userpic.url }}" alt="Default Image" width="50%" >
            {% endif %}
          </div>
      </div>

      <div class="col-md-6">
        <div class="form-group mt-1">
          <lable>Name</lable>
          <input class="form-control" readonly value="{{volunteer.user.first_name}}  {{volunteer.user.last_name}}">
        </div>
        <div class="form-group mt-1">
          <lable>Contact</lable>
          <input class="form-control" readonly value="{{volunteer.contact}}">
        </div>
        <div class="form-group mt-1">
          <lable>Email</lable>
          <input class="form-control" readonly value="{{volunteer.user.email}}">
        </div>
        <div class="form-group mt-1">
          <lable>Registration Date</lable>
          <input class="form-control" readonly value="{{ volunteer.regdate }}">
        </div>
      </div>

  <!-- Donation Details -->
  
    <div class="row p-2 justify-content-center">
      <div class="col-md-6 text-center">
        <h5 class="text-center">Vounteer ID</h5>
        <div class="mb-3">
          {% if  volunteer.idpic %}
              <img class="rounded" src="{{ volunteer.idpic.url }}" alt="Default Image" width="100%" >

          {% endif %}
        </div>
      </div>

      <div class="col-md-6">

      <div class="form-group mt-1">
        <lable>Address</lable>
        <input class="form-control" readonly value="{{volunteer.address}}">
      </div>

      
      <div class="form-group mt-1">
        <lable>About</lable>
        <input class="form-control" readonly value="{{volunteer.aboutme}}">
      </div>

      {% if volunteer.status == 'pending' %}
        <form method="post">
          {% csrf_token %}

          <div class="align-middle ">
            <lable >Status</lable>
            <div colspan="3">
              <select class="form-control" name="status" required>
                <option value="accept">Accept</option>
                <option value="reject">Reject</option>
              </select>
            </div>
          </div>

          <div class="form-group mt-1">
            <lable>Admin Remark</lable>
            <textarea class="form-control" name="adminremark" id="exampleFormControlTextarea1" rows="3"></textarea>
          </div>
          <div class="align-middle text-center mt-2">
            <td></td>
            <div colspan="3">
                <input type="submit" class="btn btn-primary px-5" value="update" />
            </div>
          </div>
          {% else %}

          <div class="form-group mt-1">
            <lable>Status</lable>
            <input class="form-control"readonly value="{{ volunteer.status }}">
          </div>
          <div class="form-group mt-1">
            <lable>Updation Date</lable>
            <input class="form-control" readonly value="{{volunteer.updationdate}}">
          </div>

          <div class="form-group mt-1">
            <lable>Admin Remark</lable>
            <input class="form-control" readonly value="{{volunteer.adminremark}}">
          </div>
          {% endif %}
    </div>
  </div>
  
  {% endblock main %}
        
    
 