{% extends 'base.html' %}
{% load static %}
{% block main %}


 <!-- Page Header Start -->
 <div class="container-fluid page-header mb-5 wow fadeIn" data-wow-delay="0.1s">
    <div class="container text-center">
        <h1 class="display-4 text-white animated slideInDown mb-4">Gallery</h1>
            
    </div>
</div>
<!-- Page Header End -->
 
        
<div class="row g-4 p-4 bg-light m-0">
    {% for i in gallery %}
   
    <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
        <div class="causes-item d-flex flex-column bg-white border-top  border-5 border-primary rounded-top overflow-hidden h-100">
            <div class="text-center p-4 pt-0">
                <div class="d-inline-block bg-primary text-white rounded-bottom fs-5 pb-1 px-3 mb-2" style="text-align:left">
                    <small> {{i.donation.donationname}} </small>
                </div>
                <h5 class="px-3 mt-auto"  >{{i.donation.donationdate}} </h5>

                <div class="position-relative mt-auto">
                    <img class="img-fluid" width="350" height="400" src="{{i.deliverypic.url}}" alt="">
                </div>
                <h5 class="mb-2" style="text-align:left">Area: {{i.donation.donationarea.areaname}} </h5>
                <h5 class="mb-2" style="text-align:left">Donor: {{i.donation.donor.user.first_name}}</h5>
                <h5 class="mb-2" style="text-align:left">Volunteer: {{i.donation.volunteer.user.first_name}}</h5>

                
            </div>
           
        </div>
    </div>
    {% endfor %}
</div>

 
{% endblock main %}
