{% extends 'donor/base-db-donor.html' %}
{% load static %}
<!-- Home Dashboard -->
{% block main %}
<div class="container mt-5">
    <div class="row">
        <div class="col-lg-4 col-md-6 mt-2">
            <div class="card text-center">
                <div class="card-header bg-dark text-white pt-3">
                    <div>
                        <h3 class="text-white">Total Donations</h3>
                        
                    </div>
                    <div class="row align-items-center pt-2">
                        <div class="col">
                            <i class="fa fa-list fa-3x"></i>
                        </div>
                        <div class="col">
                            <h3 class="display-4 text-white">{{donationcount}}</h3>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <h3>
                        <a href="{% url 'donor_donation_all' %}" ><u>View Details</u></a>
                    </h3>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 mt-2">
            <div class="card text-center">
                <div class="card-header bg-dark text-white pt-3" >
                    <div>
                        <h3 class="text-white">Accepted Donations</h3>
                        
                    </div>
                    <div class="row align-items-center pt-2">
                        <div class="col">
                            <i class="fa fa-snowflake fa-3x"></i>
                        </div>
                        <div class="col">
                            <h3 class="display-4 text-white"> {{acceptedcount}}</h3>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <h3>
                        <a href="{% url 'donor_accepted_donation' %}" ><u>View Details</u></a>
                    </h3>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 mt-2">
            <div class="card text-center">
                <div class="card-header bg-dark text-white">
                    <div>
                        <h3 class="text-white">Rejected Donations</h3>
                       
                    </div>
                    <div class="row align-items-center pt-2">
                        <div class="col">
                            <i class="fa fa-arrows fa-3x"></i>
                        </div>
                        <div class="col">
                            <h3 class="display-4 text-white">{{rejectedcount}}</h3>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <h3>
                        <a href="{% url 'donor_rejected_donation' %}" ><u>View Details</u></a>
                    </h3>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-3">

        <div class="col-lg-4 col-md-6 mt-2">
            <div class="card text-center">
                <div class="card-header bg-dark text-white pt-3">
                    <div>
                        <h3 class="text-white">Pending Donation</h3>
                        
                    </div>
                    <div class="row align-items-center pt-2">
                        <div class="col">
                            <i class="fa fa-list fa-3x"></i>
                        </div>
                        <div class="col">
                            <h3 class="display-4 text-white">{{pendingcount}}</h3>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <h3>
                        <a href="{% url 'donor_pending_donation' %}" ><u>View Details</u></a>
                    </h3>
                </div>
            </div>
        </div>
        
        <div class="col-lg-4 col-md-6 mt-2">
            <div class="card text-center">
                <div class="card-header bg-dark text-white pt-3">
                    <div>
                        <h3 class="text-white">Delivered Donations</h3>
                        
                    </div>
                    <div class="row align-items-center pt-2">
                        <div class="col">
                            <i class="fa-solid fa-bahai fa-3x"></i>
                        </div>
                        <div class="col">
                            <h3 class="display-4 text-white">{{deliveredcount}}</h3>
                        </div>
                    </div>
                </div>
                <div class= "card-footer ">
                    <h3>
                        <a href="{% url 'donor_delivered_donation' %}"><u>View Details</u></a>
                    </h3>
                </div>
            </div>
        </div>
    </div>
</div> 



{% endblock main %}

           
         

